<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
		<p>
			I am currently a student majoring in Computer Science and Software Engineering at University of Washington Bothell. I am a full-stack developer with extensive practice through class projects and personal projects. My primary interest is Cloud Computing.
		</p>
        <p>
		   I love building things. I am most interested in tackling tough problems. I am looking for a junior developer position preferably working either in a full stack position or a back end development position.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		  	<ul>
    			<li>
           			3.86 GPA.
    			</li>
          		<li>
            		Developed multiple professional applications for Apple devices that solve real world problems.
          		</li>
		  		<li>
            		Personal projects of mine involve use of industry leading technologies such as MongoDB, AWS, Python3, NodeJS, and SwiftUI.
				</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
