<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
		    <p>
			    My personal interests include:
        	</p>
			<ul>
			  <li>
				 <b>Blockchain Development</b>. It's an exciting time for Blockchain development. I'm working through online tutorials, and plan on using some form of blockchain use for my capstone.
			  </li>
			  <li>
				  <b>Soccer</b>. I grew up playing soccer as a kid, and watching the Seattle Sounders play. I still enjoy playing soccer in recreational leagues, and watching the Sounders play on weekends.
			  </li>
			  <li>
				  <b>Rocket League</b>. Rocket League has been my favorite video game for over 3 years now. During the school year when I do get some free time on my hands, playing Rocket League has always been a great way to destress.
      </li>
			</ul>
			</div>
	</div>
</section>

<section id="recent-projects">
	<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>Favorite Projects</h2>
			<hr />
		</div>
	</div>


    <div class="row">
		<h3 style="margin-top:0">Shopping List App</h3>
			<h5>non-technical description</h5>
				<p>
					The Shopping Lists App is an IOS application that allows users to easily create and share lists. List items contain text, an optional link, and an optional image. The Shopping Lists App beats out competition with its real time updates of lists, efficiently designed RESTful service, and beautifully designed user interface.
				</p>
			<h5>technical elaboration</h5>
				<p>
					This application uses NodeJS to run the REST service that helps users make updates to their lists, and automatically updates users of list changes with Pushkit. The service is run on AWS EC2, information is stored in MongoDB, and photos are stored in S3. The front end of the application is built using Swift.
				</p>
			<h5>Highlights</h5>	
				<ul>
					<li>
						2-step email authentication is used to for added protection of users information
					</li>
					<li>
						The front-end is built with the latest and greatest SwiftUI which now is built with an MVVM software architectural pattern.
					</li>
					<li>
						The server is built on NodeJS which will allow me to make the application support cross-platform communication in the future. This means to make the app available for android device users, I would only need to program the front end for android devices.
					</li>
					<li>
						To reduce load on the server, and improve user experience, recently accessed photos are stored locally on the users device using Apples Core Data.
					</li>
					<li>
						The entire backend is built on Promises and awaits. This eliminates all use of call backs making the code significantly more readable, and easier to debug.
					</li>
				</ul>
			<br>
      </div>
	  <div class="row">
		  <h3 style="margin-top:0">Text Based Omni Games</h3>
			  <h5>non-technical description</h5>
					<p>
					Text Based Omni Games is a 4-player multiplayer game. It is a series of minigames run entirely in the terminal. Players compete in 4 different minigames all inspired by a minigame in the game Dota 2.
					</p>
			  <h5>technical elaboration</h5>
					<p>
					The application was created entirely with C++, and users recieve updates on the game in real time from the host of game. The entire networking of the applicationis built entirely by me from the application layer, no additional libraries or APIs were used to handle client-server communications.
					</p>
			  <h5>Highlights</h5>
					<ul>
					<li>
					The server is implemented using multi-threading to handle user input as well as communications with users in the game.
					</li>
					<li>
					The client is also multi-threaded and simultaneously handles user interactions with the text-based UI and recieves asynchronous updates from the server on the game, and other players state.	
					</li>
					<li>
					Networking code was written seperately from the game logic allowing for reuse of the networking code on future projects.	
					</li>
					</ul>
				<br>
	  </div>
	  <div class="row">
			<h3 style="margin-top:0">Pet Simulator</h3>
				<h5>non-technical description</h5>
					<p>
					Pet Simulator was a game where your pet would run around on the map and you could drop food, water, and toys to keep your pet happy and alive. The goal was to keep the pet alive. Your pet could die from boredom, starvation, and thirst.
					</p>
				<h5>technical elaboration</h5>
					<p>
					Pet Simulator was built entirely using C++ and a 2d graphing API called SFML. Follows object oriented designs, and makes use of inheritence.
					</p>
				<h5>Highlights</h5>
					<ul>
					<li>
					Worked on a team of 3 members who I met the day of the hackathon.	
					</li>
					<li>
					Went from conception, to mapping out the design of the program, to dividing up the work, and ultimately finishing our game in under 24 hours.
					</li>
					</ul>
			<br>
	  </div>
    </div>
  </div>
</section>
